<div
  class="hidden loading absolute inset-0 w-full h-full flex-col items-center justify-center bg-white"
>
  <mx-circular-progress class="mb-20"></mx-circular-progress>
  <p class="subtitle3 my-0">Hold Tight!</p>
  <p class="caption1 my-0">We should be ready in no time</p>
</div>
